@{

}

<nav class="navbar navbar-expand-lg navbar-light text-capitalize">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">YVN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="show-menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @if (User.IsInRole("member") || User.IsInRole("Admin"))
                {
                    <div class="avatar">
                        <img src="~/Images/empty-avatar.jpg" alt="Avatar" class="avatar.image">
                        <div class="avatar.overlay">@User.Identity.Name</div>
                    </div>
                    <li class="drop-item">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Post
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-controller="Posts" asp-action="Index"> See your posts</a>
                                <a class="nav-link text-dark" asp-controller="Posts" asp-action="Create">Create Post</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Edit">Edit profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="GetFriends">Friends</a>
                    </li>
                }

                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="   " asp-action="Index"> </a>
                    </li>
                }


                @if (User.IsInRole("Admin"))
                {
                    <li class="drop-item">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                AdminPanel
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link" asp-controller="Admin" asp-action="Delete">Deleted</a>
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">Users</a>
                            </div>
                        </div>
                    </li>
                }
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>